*{
	text-align: center; 
	font-family: 'Oswald', Helvetica;
}

body{
	background-image: url("../images/1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	
}

h1{
	font-size: 80px;
	color:#5d5c58;
}
#death{ 
	margin: 200px auto;
 }

#death h1{
	color:black;
}

#t{
	height: 40px;
	width: 40px;
}