*{
	text-align: center; 
	font-family: 'Oswald', Helvetica;
}

body{
	background-image: url("../images/1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	
}

h1{
	font-size: 60px;
	color:#ebebeb;
}

#container{
	margin: 100px auto;
	height: 600px;
	width: 800px;
	background-color:white;
	opacity: 0.5; 

}

@media screen and (max-width:820px){
	#container{
	margin: 100px auto;
	height: 500px;
	width: 700px;
	background-color:white;
	opacity: 0.5; 
	}
}